kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
mirror:
  platform:
    architectures:
{% for arch in imageset_arch %}
      - "{{ arch }}" 
{% endfor %}
    channels:
    - name: "{{ ocp_channel_name }}"
      minVersion: "{{ ocp_min_version }}"
      maxVersion: "{{ ocp_max_version }}"
      type: ocp
    graph: true
